@import "tailwindcss";

:root {
    --primary: #40DA88;
    --secondary: #24366D;
    --accent: #109F4A;

    --bg-footer: #E6EFED;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gotham', sans-serif;
}

li {
    font-family: 'Flama', sans-serif;
}

ul.flechas>li::marker {
    content: '\25B8';
    color: var(--primary);
}

input[type='checkbox'] {
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid var(--primary);
    border-radius: 0.25rem;
    background-color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
    
}

input[type='checkbox']:checked {
    background-color: var(--primary);
    border-color: var(--primary);
}

input[type='checkbox']::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}

input[type='checkbox']:checked::after {
    display: block;
}

html, .overflow-style {
    overflow-y: auto;
}

html::-webkit-scrollbar, .overflow-style::-webkit-scrollbar {
    width: 10px;
    border-radius: 4px !important;
}

html::-webkit-scrollbar-thumb, .overflow-style::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 4px;
}

.p-footer {
    padding: 5rem;
}

.p-socials {
    padding: 0.5rem;
    border-radius: 8px !important;
}

.p-box-one {
    background-color: #ffffffc3;
    padding: 1rem 2rem 1rem 3rem;
    border-radius: 0 30px 30px 0;
    box-shadow: 0 0 5px #00000080;
}

.p-box-two {
    padding: 2rem;
}

.p-box-two-steps {
    padding: 2rem;
    padding-right: 0rem;
}

.p-box-three {
    padding: 0.5rem 2rem 2rem;
}

.p-btn {
    padding: 10px 1rem;
}

.img-sociales {
    border-radius: 2rem;
}

.p-adv {
    padding: 4rem 0 !important;
}

.p-card-adv {
    padding: 2rem 3rem !important;
}

.p-card-adv:first-child {
    padding: 1rem 2rem !important;
}

.p-card-adv:first-child>p {
    font-size: 20px;
}

.p-reminder {
    padding: 0 3rem;
}

.driver {
    background-image: url('/images/driver.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}

.btn-loop {
    animation: btn-loop 0.8s infinite alternate;
}

.btn-loop:hover,
.btn-loop:active {
    animation-play-state: paused;
}

.p-modal {
    padding: 1.5rem !important;
    box-shadow: -2px 4px 6px var(--primary) !important;
}

.input-style {
    height: 40px;
    padding: 0 0.5rem;
    font-family: 'Flama', sans-serif;
}

.btn-style {
    width: fit-content;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}

.btn-validar {
    padding: 0.2rem 2rem;
}

.btn-style-points {
    width: fit-content;
    padding: 0.2rem 1rem;
}

.p-points {
    padding: 1rem;
}

.m-modal {
    margin: 1rem 0;
}

.mb-modal {
    margin-bottom: 1rem;
}

@keyframes btn-loop {
    from {
        transform: scale(1.02);
    }

    to {
        transform: scale(0.95);
    }
}


@media screen and (max-width: 640px) {
    html::-webkit-scrollbar {
        width: 1px;
    }
    
    input[type='checkbox'] {
        width: 38px;
    }
    
    .p-footer {
        padding: 2rem !important;
    }

    .p-box-one {
        padding: 0.5rem 1rem 0.5rem 1.5rem;
    }

    .p-box-two {
        padding: 1rem;
    }

    .p-card-adv {
        padding: 1rem !important;
    }

    .p-card-adv:first-child>p {
        font-size: 16px;
    }


    .text-outline-white {
        text-shadow:
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;
    }

    .p-reminder {
        padding: 1.5rem;
    }

    .p-points {
        padding: 0.8rem;
    }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
    html::-webkit-scrollbar {
        width: 2px;
    }

    .p-footer {
        padding: 3rem !important;
    }

    .p-box-one {
        padding: 0.5rem 1rem 0.5rem 1.5rem;
    }

    .p-box-two {
        padding: 1.5rem;
    }

    .p-box-two-steps {
        padding: 1.5rem;
    }

    .p-card-adv {
        padding: 1.5rem !important;
    }

    .card-advantages {
        row-gap: 35px;
        column-gap: 20px;
        justify-content: center;
    }

    .p-card-adv:first-child {
        width: 90% !important;
    }

    .p-box-two-step {
        padding: 0.5rem;
        gap: 0;
    }

    .p-box-step {
        padding: 1rem 0rem;
    }

    .p-reminder {
        padding: 1.5rem;
    }
    
}